<div id="sidebar-container" class="sidebar-container"></div>
<div id="main-container" class="main-container">
  <div id="main-header" class="main-header">

    <img src="assets/images/actionbar-toggle.svg">
    <div class="subreddit-title" id="subreddit-title">Little Reddit Reader</div>

    <ul class="subreddit-nav" id="subreddit-navbar">
      <li><a class="subreddit-subroute" id="subroute-new">New</span></li>
      <li><a class="subreddit-subroute" id="subroute-hot">Hot</span></li>
      <li><a class="subreddit-subroute" id="subroute-rising">Rising</span></li>
      <li><a class="subreddit-subroute" id="subroute-controversial">Controversial</span></li>
    </ul>

  </div>
  <div id="main-body" class="main-body"></div>
</div>
