@import "compass";

.feed {
    @extend .frame;
    width : 250px;
    background-color : #ffffff;
    overflow: hidden;
    @include transition(top 0.5s, left 0.5s);
}

.feed__thumbnail-container {
    @extend .frame;

    img {
	display: block;
	width: 100%;
    };
}

.feed__details {
    display: none;
}

.feed__title-bar {
    margin: 0;
    border: 0;
    padding: 5px;
}

.feed__title {}

.feed__status {
    height: 1.5em;
}