@charset "UTF-8";
/* line 23, ../sass/modules/_utility.scss */
.frame, html, body, #content-page, #sidebar-container, #main-container, .main-header, .subreddit, .subreddit-load-container, .subreddit-load {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 1, ../sass/partials/_layout.scss */
html {
  height: 100%;
}

/* line 6, ../sass/partials/_layout.scss */
body {
  height: 100%;
  font-size: 100%;
  background: #e4e4e4;
}

/* line 14, ../sass/partials/_layout.scss */
#content-page {
  height: 100%;
}

/* line 19, ../sass/partials/_layout.scss */
#sidebar-container {
  height: 100%;
  width: 220px;
  font-size: 0.8125em;
  background-color: #65727e;
  position: fixed;
  left: 0;
}

/* line 29, ../sass/partials/_layout.scss */
#main-container {
  -webkit-box-shadow: -4px 0px 3px 0px rgba(68, 68, 68, 0.7);
  -moz-box-shadow: -4px 0px 3px 0px rgba(68, 68, 68, 0.7);
  box-shadow: -4px 0px 3px 0px rgba(68, 68, 68, 0.7);
  position: fixed;
  height: 100%;
  left: 220px;
  right: 0;
  transition: left 1s;
}
/* line 38, ../sass/partials/_layout.scss */
#main-container.fullscreen {
  left: 0;
}

/* line 44, ../sass/partials/_layout.scss */
.main-header {
  height: 60px;
  line-height: 60px;
  background-color: #4d8456;
}
/* line 50, ../sass/partials/_layout.scss */
.main-header .content-header {
  height: 100%;
}
/* line 54, ../sass/partials/_layout.scss */
.main-header img {
  height: 100%;
  padding-left: 10px;
}

/* line 61, ../sass/partials/_layout.scss */
.main-body {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow-y: scroll;
}

/* line 1, ../sass/partials/_sidebar.scss */
.sidebar {
  height: 100%;
  width: 100%;
}
/* line 5, ../sass/partials/_sidebar.scss */
.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 11, ../sass/partials/_sidebar.scss */
.sidebar a {
  text-decoration: none;
}

/* line 17, ../sass/partials/_sidebar.scss */
.sidebar .status-bar-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #21333d;
}

/* line 25, ../sass/partials/_sidebar.scss */
.sidebar .footer-bar-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #21333d;
}

/* line 33, ../sass/partials/_sidebar.scss */
.sidebar .footer-bar {
  height: 100%;
  width: 100%;
}

/* line 38, ../sass/partials/_sidebar.scss */
.subreddit-input {
  height: 60%;
  width: 90%;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  border-radius: 2em;
}
/* line 44, ../sass/partials/_sidebar.scss */
.subreddit-input:focus {
  -webkit-box-shadow: inset 0px 0px 10px 1px #21333d;
  -moz-box-shadow: inset 0px 0px 10px 1px #21333d;
  box-shadow: inset 0px 0px 10px 1px #21333d;
}

/* line 54, ../sass/partials/_sidebar.scss */
.sidebar .nav-menu-container {
  height: 100%;
  margin-top: 60px;
  background-color: #65727e;
}

/* line 60, ../sass/partials/_sidebar.scss */
.sidebar .menu-tab {
  -webkit-box-shadow: 0 1px 1px 1px #58697a;
  -moz-box-shadow: 0 1px 1px 1px #58697a;
  box-shadow: 0 1px 1px 1px #58697a;
  background-color: #21333d;
  border-bottom: 1px solid #33373d;
  width: 100%;
  height: 2.75em;
  line-height: 2.75em;
  text-indent: 2.75em;
  display: block;
  position: relative;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}
/* line 78, ../sass/partials/_sidebar.scss */
.sidebar .menu-tab:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #45c7eb), color-stop(100%, #2698db));
  background-image: -webkit-linear-gradient(top, #45c7eb, #2698db);
  background-image: -moz-linear-gradient(top, #45c7eb, #2698db);
  background-image: -o-linear-gradient(top, #45c7eb, #2698db);
  background-image: linear-gradient(top, #45c7eb, #2698db);
  -webkit-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
  -moz-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
  box-shadow: inset 0px 1px 0px 0px #6ad2ef;
  border-bottom: 1px solid #103c56;
}
/* line 83, ../sass/partials/_sidebar.scss */
.sidebar .menu-tab:hover span a {
  background: #2173a1;
}

/* line 89, ../sass/partials/_sidebar.scss */
.sidebar .menu-tab .indicator {
  font-size: 0.857em;
  display: inline-block;
  position: relative;
  float: right;
  right: 1em;
  top: 50%;
  background: #48515c;
  line-height: 1em;
  height: 1em;
  padding: 0.4em 0.6em;
  margin: -0.8em 0 0 0;
  color: white;
  text-indent: 0;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  font-weight: 500;
  -webkit-border-radius: 0.769em;
  -moz-border-radius: 0.769em;
  -ms-border-radius: 0.769em;
  -o-border-radius: 0.769em;
  border-radius: 0.769em;
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.26), 0px 1px 0px 0px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.26), 0px 1px 0px 0px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.26), 0px 1px 0px 0px rgba(255, 255, 255, 0.15);
}

/* line 99, ../sass/partials/_sidebar.scss */
.sidebar .entry a {
  background-color: #405365;
  border-bottom: 1px solid #323C46;
  width: 100%;
  height: 2.75em;
  line-height: 2.75em;
  text-indent: 2.75em;
  display: block;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.923em;
  font-weight: 400;
  color: #878d95;
}
/* line 114, ../sass/partials/_sidebar.scss */
.sidebar .entry a:before, .sidebar .entry a:visited {
  content: '▶';
  font-size: 8px;
  color: #bcbcbf;
  position: absolute;
  width: 1em;
  height: 1em;
  top: 0;
  left: -2.7em;
}
/* line 125, ../sass/partials/_sidebar.scss */
.sidebar .entry a:link {
  color: #bcbcbf;
}
/* line 132, ../sass/partials/_sidebar.scss */
.sidebar .entry:hover a, .sidebar .entry:hover a span, .sidebar .entry:hover a:before {
  color: #32373D;
}

/* line 140, ../sass/partials/_sidebar.scss */
.sidebar .entry .indicator {
  font-size: 0.857em;
  display: inline-block;
  position: relative;
  float: right;
  right: 1em;
  top: 50%;
  background: white;
  line-height: 1em;
  height: 1em;
  padding: 0.4em 0.7em;
  margin: -0.9em 0 0 0;
  color: #878d95;
  text-indent: 0;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  font-weight: 500;
  -webkit-border-radius: 0.769em;
  -moz-border-radius: 0.769em;
  -ms-border-radius: 0.769em;
  -o-border-radius: 0.769em;
  border-radius: 0.769em;
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.26), 0px 1px 0px 0px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.26), 0px 1px 0px 0px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.26), 0px 1px 0px 0px rgba(255, 255, 255, 0.15);
}

/* line 23, ../sass/modules/_utility.scss */
.frame, html, body, #content-page, #sidebar-container, #main-container, .main-header, .subreddit, .subreddit-load-container, .subreddit-load {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 4, ../sass/partials/_subreddit.scss */
.subreddit {
  position: relative;
  width: 100%;
  min-height: 100%;
  background-color: #64ac70;
}
/* line 11, ../sass/partials/_subreddit.scss */
.subreddit ul {
  list-style: none;
}

/* line 17, ../sass/partials/_subreddit.scss */
.subreddit-load-container {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #92d19c;
}

/* line 26, ../sass/partials/_subreddit.scss */
.subreddit-load {
  background-color: #92d19c;
  height: 100%;
  width: 100%;
}
/* line 31, ../sass/partials/_subreddit.scss */
.subreddit-load:hover {
  -webkit-box-shadow: inset 0 0 10px 5px #64ac70;
  -moz-box-shadow: inset 0 0 10px 5px #64ac70;
  box-shadow: inset 0 0 10px 5px #64ac70;
}
/* line 34, ../sass/partials/_subreddit.scss */
.subreddit-load.loading {
  background-color: #4d8456;
}

/* line 41, ../sass/partials/_subreddit.scss */
.subreddit-body {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 60px;
  padding-left: 15px;
  min-height: 100%;
}

/* line 50, ../sass/partials/_subreddit.scss */
.subreddit-empty-content {
  min-height: 100%;
}

/* line 54, ../sass/partials/_subreddit.scss */
.feed-grid {
  position: relative;
  padding: 0;
  margin: 0;
  min-height: 100%;
}

/* line 61, ../sass/partials/_subreddit.scss */
.feed {
  padding: 5px;
  width: 250px;
  background-color: #ffffff;
  overflow: hidden;
  transition: top 2s, left 0.5s;
}
/* line 68, ../sass/partials/_subreddit.scss */
.feed img {
  width: 100%;
}
