@charset "UTF-8";
/* line 26, ../sass/_components.scss */
.frame, html, body, #content-page, #sidebar-container, #main-container, .subreddit, .subreddit-load {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 4, ../sass/_layout.scss */
html {
  height: 100%;
}

/* line 9, ../sass/_layout.scss */
body {
  height: 100%;
  font-size: 100%;
  background: #e4e4e4;
}

/* line 17, ../sass/_layout.scss */
#content-page {
  height: 100%;
}

/* line 23, ../sass/_layout.scss */
#sidebar-container {
  height: 100%;
  width: 220px;
  font-size: 0.8125em;
  background-color: #65727e;
  position: fixed;
  left: 0;
}

/* line 33, ../sass/_layout.scss */
#main-container {
  -webkit-box-shadow: -4px 0px 3px 0px rgba(68, 68, 68, 0.7);
  -moz-box-shadow: -4px 0px 3px 0px rgba(68, 68, 68, 0.7);
  box-shadow: -4px 0px 3px 0px rgba(68, 68, 68, 0.7);
  position: fixed;
  height: 100%;
  left: 220px;
  right: 0;
  transition: left 1s;
}
/* line 42, ../sass/_layout.scss */
#main-container.fullscreen {
  left: 0;
}

/* line 49, ../sass/_layout.scss */
.main-body {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow-y: scroll;
}

/* line 59, ../sass/_layout.scss */
.main-header {
  padding: 0;
  margin: 0;
  height: 60px;
  background-color: #4d8456;
}
/* line 65, ../sass/_layout.scss */
.main-header h1 {
  padding: 5px;
  margin: 0;
}
/* line 70, ../sass/_layout.scss */
.main-header img {
  height: 100%;
  margin-left: 10px;
}

/* line 26, ../sass/_components.scss */
.frame, html, body, #content-page, #sidebar-container, #main-container, .subreddit, .subreddit-load {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 4, ../sass/_sidebar.scss */
.sidebar {
  height: 100%;
  width: 100%;
}
/* line 8, ../sass/_sidebar.scss */
.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 14, ../sass/_sidebar.scss */
.sidebar a {
  text-decoration: none;
}

/* line 20, ../sass/_sidebar.scss */
.sidebar .footer-bar-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #21333d;
}

/* line 28, ../sass/_sidebar.scss */
.sidebar .status-bar-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #21333d;
}

/* line 40, ../sass/_sidebar.scss */
.sidebar .nav-menu-container {
  height: 100%;
  margin-top: 60px;
  background-color: #65727e;
}

/* line 46, ../sass/_sidebar.scss */
.sidebar .menu-tab {
  -webkit-box-shadow: 0 1px 1px 1px #58697a;
  -moz-box-shadow: 0 1px 1px 1px #58697a;
  box-shadow: 0 1px 1px 1px #58697a;
  background-color: #21333d;
  border-bottom: 1px solid #33373d;
  width: 100%;
  height: 2.75em;
  line-height: 2.75em;
  text-indent: 2.75em;
  display: block;
  position: relative;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}
/* line 64, ../sass/_sidebar.scss */
.sidebar .menu-tab:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #45c7eb), color-stop(100%, #2698db));
  background-image: -webkit-linear-gradient(top, #45c7eb, #2698db);
  background-image: -moz-linear-gradient(top, #45c7eb, #2698db);
  background-image: -o-linear-gradient(top, #45c7eb, #2698db);
  background-image: linear-gradient(top, #45c7eb, #2698db);
  -webkit-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
  -moz-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
  box-shadow: inset 0px 1px 0px 0px #6ad2ef;
  border-bottom: 1px solid #103c56;
}
/* line 69, ../sass/_sidebar.scss */
.sidebar .menu-tab:hover span a {
  background: #2173a1;
}

/* line 75, ../sass/_sidebar.scss */
.sidebar .menu-tab .indicator {
  font-size: 0.857em;
  display: inline-block;
  position: relative;
  float: right;
  right: 1em;
  top: 50%;
  background: #48515c;
  line-height: 1em;
  height: 1em;
  padding: 0.4em 0.6em;
  margin: -0.8em 0 0 0;
  color: white;
  text-indent: 0;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  font-weight: 500;
  -webkit-border-radius: 0.769em;
  -moz-border-radius: 0.769em;
  -ms-border-radius: 0.769em;
  -o-border-radius: 0.769em;
  border-radius: 0.769em;
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.26), 0px 1px 0px 0px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.26), 0px 1px 0px 0px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.26), 0px 1px 0px 0px rgba(255, 255, 255, 0.15);
}

/* line 85, ../sass/_sidebar.scss */
.sidebar .entry a {
  background-color: #405365;
  border-bottom: 1px solid #323C46;
  width: 100%;
  height: 2.75em;
  line-height: 2.75em;
  text-indent: 2.75em;
  display: block;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.923em;
  font-weight: 400;
  color: #878d95;
}
/* line 100, ../sass/_sidebar.scss */
.sidebar .entry a:before, .sidebar .entry a:visited {
  content: '▶';
  font-size: 8px;
  color: #bcbcbf;
  position: absolute;
  width: 1em;
  height: 1em;
  top: 0;
  left: -2.7em;
}
/* line 111, ../sass/_sidebar.scss */
.sidebar .entry a:link {
  color: #bcbcbf;
}
/* line 118, ../sass/_sidebar.scss */
.sidebar .entry:hover a, .sidebar .entry:hover a span, .sidebar .entry:hover a:before {
  color: #32373D;
}

/* line 126, ../sass/_sidebar.scss */
.sidebar .entry .indicator {
  font-size: 0.857em;
  display: inline-block;
  position: relative;
  float: right;
  right: 1em;
  top: 50%;
  background: white;
  line-height: 1em;
  height: 1em;
  padding: 0.4em 0.7em;
  margin: -0.9em 0 0 0;
  color: #878d95;
  text-indent: 0;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  font-weight: 500;
  -webkit-border-radius: 0.769em;
  -moz-border-radius: 0.769em;
  -ms-border-radius: 0.769em;
  -o-border-radius: 0.769em;
  border-radius: 0.769em;
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.26), 0px 1px 0px 0px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.26), 0px 1px 0px 0px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.26), 0px 1px 0px 0px rgba(255, 255, 255, 0.15);
}

/* line 1, ../sass/_subreddit.scss */
.subreddit {
  position: relative;
  width: 100%;
  min-height: 100%;
  background-color: #64ac70;
}
/* line 8, ../sass/_subreddit.scss */
.subreddit ul {
  list-style: none;
}

/* line 14, ../sass/_subreddit.scss */
.subreddit-load {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #92D19C;
}

/* line 23, ../sass/_subreddit.scss */
.subreddit-body {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 60px;
  padding-left: 15px;
  min-height: 100%;
}

/* line 32, ../sass/_subreddit.scss */
.subreddit-empty-content {
  min-height: 100%;
}

/* line 36, ../sass/_subreddit.scss */
.feed-grid {
  position: relative;
  padding: 0;
  margin: 0;
  min-height: 100%;
}

/* line 43, ../sass/_subreddit.scss */
.feed {
  padding: 5px;
  width: 250px;
  background-color: #ffffff;
  overflow: hidden;
  transition: top 2s, left 0.5s;
}
/* line 50, ../sass/_subreddit.scss */
.feed img {
  width: 100%;
}
