@import "settings";
@import "components";
@import "compass";

html {
    @extend .frame;
    height: 100%;
}

body {
    @extend .frame;
    height: 100%;

    font-size : 100%;
    background : rgb(228, 228, 228);
}

#content-page {
    @extend .frame;
    height: 100%;
}


#sidebar-container {
    @extend .frame;
    height: 100%;
    width : $sidebar-width;
    font-size : 0.8125em;
    background-color: $pale-blue;
    position : fixed;
    left : 0;
}

#main-container {
    @extend .frame;
    @include box-shadow(-4px 0px 3px 0px rgba(68, 68, 68, 0.7));
    position: fixed;
    height: 100%;
    left: $sidebar-width;
    right: 0;
    transition: left 1s;

    &.fullscreen {
	left: 0;
    }

}

.main-header {
    @extend .frame;
    height: $status-bar-height;
    line-height: $status-bar-height;
    background-color: #4d8456;

    .content-header {
//	display: inline-block;
	height: 100%;
//	padding: 5px;
//	margin: 0;
    };
    
    img {
//	display: inline-block;
	height: 100%;
	padding-left: 10px;
    };

}

.main-body {
    position: absolute;
    top: $status-bar-height;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow-y: scroll;
}

